<p id="notice">
  <%= notice %>
</p>
<% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました。
      <% @book.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
     <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <%= render 'users/usershow', user: @user %>

      <%= render 'books/newform', book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
        <h1>Books</h1>
        <table class="table table-striped">
           <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
              </tr>
           </thead>

            <tbody>

              <tr>
                <% @books.each do |book| %>
                <td>
                  <%= link_to user_path(book.user.id) do %>
                  <%= attachment_image_tag book.user, :profile_image, :fill, 10, 10, fallback: "no_image.jpg" %>
                </td>
                <% end %>
                <td>
                  <%= link_to book_path(book.id) do %>
                    <%= book.title %>
                </td>
                  <% end %>
                <td><%= book.body %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<%= paginate @books %>

