<div class="container">
  <div class="row">
    <div class="col-md-4">
   <% if @book.errors.any? %>
      <%= @book.errors.count %>error prohibited this obj from being saved:
        <% @book.errors.full_messages.each do |message| %>
            <%= message %>
            <% end %>
        <% end %>
    <h1>Editing Book</h1>

    <%= form_with model: @book, local: true do |f| %>
     <p>Title</p>
     <%= f.text_field :title %>
     <p>Opinion</p>
     <%= f.text_area :body %>
     <%= f.submit 'Update Book' %>
     <% end %>
   <div>
     <span>
       <%= link_to 'Show', book_path(@book) %>
     </span>
     <span>|</span>
     <span>
       <%= link_to 'Back', books_path %>
     </span>
   </div>
   </div>
   <div class="col-md-8"></div>
   </div>
  </div>